<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog - {{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <hr>
  {{#markdown}}
    {% body %}
  {{/markdown}}
</body>
</html>
